$body-bg: #F5F5F5;
$solid-white: #fff;
$normal-color: #3F51B5;
$normal-color-transparent: rgba(63, 81, 181, .15);
$danger-color: #FF5722;
$danger-color-transparent: rgba(255, 87, 34, .15);
$height-calculator: calc(100vh - 18rem);
$dark-bg: #616161;
$dark-bg-transparent: rgba(97, 97, 97, .35);
